@charset "utf-8";

ul.pager {
    z-index:100;
}

/**/
#war_situation_map td[style*="cornsilk"],
#war_situation_map span[style*="cornsilk"] {
	  background-color: #333 !important;
}

#ig_battle_report_mid input[type=radio] {//ラジオボタン大きく
		-webkit-transform-origin: centert middle;
		-webkit-transform: scale( 1.5 , 1.5 );
}
table.table_waigintunit input[type=checkbox] {//チェックボタン大きく
		-webkit-transform-origin: centert middle;
		-webkit-transform: scale( 1.5 , 1.5 );
}
div.new_worldmap_merge_setting input[type=radio] {//ラジオボタン大きく
		-webkit-transform-origin: centert middle;
		-webkit-transform: scale( 1.2 , 1.2 );
}
div.new_worldmap_merge_setting input[type=checkbox] {//チェックボタン大きく
		-webkit-transform-origin: centert middle;
		-webkit-transform: scale( 1.2 , 1.2 );
}

/* 監視拠点登録ボタン */
button#buttonRecordCatsle {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ff69b4;
  color: #fff;
  padding: 3px 4px;
  font-size: 12px;
  position: relative;
  right: -20px;
}
/* 監視拠点の登録方法説明Box */
#moko_map_control_box2 {
    position: relative;
    float: left;
    width: 748px;
    margin: 1px 0 6px 10px;
    padding: 10px;
    background-color: black;
    border: 1px solid #CEAB00;
}
/* 監視拠点のアラート表示 */
#castleAlert {
    height: 12px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    font-family: verdana;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 0 0;
}

li.msg_reaction_icons_item>.msg_reaction_popup_list { left: initial; right: 0px; top: 25px; }
ul.msg_reaction_popup_list::before { left: initial; right: 5px; top: -2px; transform: rotate(135deg); }

table[id^="moko_candidate"] td span.skill_F,
table[id^="moko_candidate"] td span.skill_E,
table[id^="moko_candidate"] td span.skill_D,
table[id^="moko_candidate"] td span.skill_C,
table[id^="moko_candidate"] td span.skill_B,
table[id^="moko_candidate"] td span.skill_A,
table[id^="moko_candidate"] td span.skill_S {background:#000;padding:1px 3px 0;}

table[id^="moko_candidate"] td span.skill_F{color:#8D6793;}
table[id^="moko_candidate"] td span.skill_E{color:#4B90D3;}
table[id^="moko_candidate"] td span.skill_D{color:#56B2F6;}
table[id^="moko_candidate"] td span.skill_C{color:#FFFB74;}
table[id^="moko_candidate"] td span.skill_B{color:#FD8F4D;}
table[id^="moko_candidate"] td span.skill_A{color:#FD2524;}
table[id^="moko_candidate"] td span.skill_S{color:#D9C434;}
